/.gitconfig
/build/
/meta-altera-fpga/
/meta-openembedded/
/meta-filesystems/
/meta-virtualization/
/bitbake/
/meta-yocto/
/openembedded-core/
/poky/
/venv/
/meta-custom/recipes-fpga/fpga-bitstream/files/*.rbf
/openbmc/
/meta-ami/
/meta-core/
